recursive-include docs *
recursive-include examples *
include distribute_setup.py
include LICENSE
include DEVELOPERS
include README.rst
include Changelog.rst
include bootstrap.py
include *.cfg
include Makefile
